body {
  background-color: #000;
}
.page-subtitle {
  width: 240px;
  height: 50px;
  border: 5px solid #ffa32d;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffa32d;
  margin: 0 auto 200px;
}
